.button-group {
  
  &__btn {
    padding: 8px 15.5px;
    border: 1px solid #EBEBEB;
    
    &:first-child {
      border-radius: 6px 0px 0px 6px;
    }
    
    &:last-child {
      border-radius: 0px 6px 6px 0px;
    }
  }
  
  .btn-active {
    color: $text-brand;
    background-color: $bg-button-group;
    border: 1px solid rgba(254, 0, 12, 0.3);
  }
}