.tabs {
  
  &__tab-wrapper {
    display: flex;
    border-bottom: 1px solid #EBEBEB;
    overflow-x: auto;
  }
  
  &__tab {
    font-size: 15px;
    color: $text-secondary;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    transition: border-bottom .2s ease, color .2s ease;
    
    &:hover {
      color: #E8000B;
    }
    &:active {
      color: #FE000C;
    }
    
    & + & {
      margin-left: 25px;
      
      @media (max-width: $lg) {
        margin-left: 14px;
      }
    }
    
    &.is-active {
      color: $text-brand;
      border-bottom: 2px solid $brand-primary;
      
      @media (max-width: $md) {
        border-bottom: 1px solid $brand-primary;
      }
    }
  }
  
  &__tab-link {
    padding: 12px 0 14px;
    cursor: pointer;
  }
}

.tabs-details {
  padding-right: 65px;
  
  @media (max-width: $xl) {
    padding-right: 0;
  }
}