$main-font: "EMprint", sans-serif;

$white: #fff;
$bg: #fff;
$divider: #EBEBEB;

$text-primary: #1A1717;
$text-secondary: rgba(26, 23, 23, 0.8);
$text-brand: #E8000B;

$brand-primary: #FE000C;

$bg-input-field: #F7F7F7;

$bg-button-back: #F7F7F7;

$bg-button-group: #FFECEC;

$sidebar-width: 265px;

$transition: .3s ease;