.brand-assessment {
  padding: 30px 0;
  
  @media (max-width: $sm) {
    padding: 30px 0 0 0;
  }
  
  &__title {
    margin-bottom: 3px;
    line-height: 27px;
  }
  
  &__subtitle {
    margin-bottom: 30px;
  }
  
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 36px;
    align-self: end;
    
    .column ~ .column {
      margin-left: 30px;
      
      @media (max-width: $sm) {
        margin-left: 10px;
      }
    }
  }
  
  &__row-year {
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
  }
  
  &__row-audit-completed {
    font-size: 15px;
    line-height: 1;
  }
  &__percent-completed {
    font-size: 15px;
    line-height: 22px;
  }
}
