.footer {
  height: 104px;
  padding: 33px 30px;
  background-color: $bg-input-field;
  margin-left: $sidebar-width;
  margin-top: auto;
  
  &__text {
    font-size: 13px;
    line-height: 18px;
    color: rgba(26, 23, 23, 0.6);
  }
  
  @media (max-width: $lg) {
    margin-left: 0;
  }
  
  @media (max-width: $md) {
    height: auto;
    padding: 15px;
  }
}