.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(65, 65, 65, .5);
  z-index: 10;
  
  &__window {
    position: relative;
    width: 572px;
    min-height: 378px;
    background-color: #fff;
    padding: 27px 0 25px;
    box-shadow: 0px 5px 50px rgba(26, 23, 23, 0.15);
    border-radius: 6px;
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    padding: 0px 25px 0px 25px;
    margin-bottom: 3px;
  }
  
  &__btn-close {
    width: 32px;
    height: 32px;
    
    svg {
      width: 32px;
      height: 32px;
      stroke: #1A1717;
      opacity: .3;
      transition: opacity $transition;
    }
    
    &:hover {
      svg {
        opacity: .6;
      }
    }
  }
  
  &__content {
    padding: 0px 25px 0px 25px;
  }
  
  &__content-text {
    font-size: 15px;
    line-height: 22px;
    
    & + & {
      margin-top: 30px;
    }
  }
  
  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 0px 25px 0px 25px;
  }
  
  &__btn {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    padding: 9px 20px;
    border-radius: 6px;
    
    & + & {
      margin-left: 20px;
    }
  }
  
  &__btn--cancel {
    color: rgba(26, 23, 23, 0.8);
    background-color: #F7F7F7;
    transition: background-color $transition;
    
    &:hover {
      background-color: #F0F0F0;
    }
    
    &:active {
      color: #FE000C;
      background-color: #FFECEC;
    }
  }
  
  &__btn--accept {
    color: #fff;
    background-color: #FE000C;
    transition: background-color $transition;
    
    &:hover {
      background-color: #F20C17;
    }
    
    &:active {
      background-color: #E8000B;
    }
  }
  
  .divider {
    padding: 0;
    margin: 25px 0;
  }
}