.m1c {
  overflow: hidden;
  
  @media (max-width: $sm) {
    overflow: visible;
  }
  
  &__header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0 0;
    margin-bottom: 5px;
    grid-template-areas: 
      "title btn"
      "code date"
    ;
    
    @media (max-width: $lg) {
      grid-template-areas: 
        "title title"
        "code date"
        "btn btn"
      ;
      gap: 14px 0;
    }
    
    @media (max-width: $sm) {
      grid-template-columns: min-content auto;
    }
  }
  
  &__title {
    max-width: 518px;
    font-weight: 600;
    font-size: 27px;
    line-height: 35px;
    color: $text-primary;
    margin-bottom: 11px;
    padding-right: 10px;
    grid-area: title;
    
    @media (max-width: $xl) {
      font-size: 24px;
    }
    
    @media (max-width: $md) {
      margin-bottom: 0;
      max-width: 100%;
      font-size: 21px;
      line-height: 24px;
    }
  }
  
  &__btn-wrapper {
    display: flex;
    align-items: flex-start;
    justify-self: end;
    grid-area: btn;
    
    @media (max-width: $lg) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      height: 76px;
      align-items: center;
      justify-content: flex-end;
      padding: 0 30px;
      z-index: 10;
    }
    
    @media (max-width: $sm) {
      padding: 0 15px;
    }
    
    @media (max-width: 375px) {
      justify-self: auto;
      justify-content: space-between;
    }
  }
  
  &__code {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: $text-secondary;
    line-height: 22px;
    grid-area: code;
    
    @media (max-width: $sm) {
      font-size: 13px;
    }
    
    @media (max-width: 375px) {
      font-size: 11px;
    }
  }
  
  &__code-title {
    position: relative;
    
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: -14px;
      width: 2px;
      height: 2px;
      background-color: rgba(26, 23, 23, 0.6);
    }
  }
  
  &__code-link {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 25px;
    color: $text-brand;
    transition: all $transition;
    
    &:hover {
      color: $brand-primary;
      
      svg {
        fill: $brand-primary;
      }
    }
    
    &:active {
      color: $text-brand;
      
      svg {
        fill: $text-brand;
      }
    }
    
    svg {
      width: 22px;
      height: 23px;
      fill: $text-brand;
    }
  }
  
  &__update-date {
    font-size: 15px;
    line-height: 22px;
    color: $text-secondary;
    justify-self: end;
    grid-area: date;
    
    @media (max-width: $sm) {
      font-size: 13px;
    }
    
    @media (max-width: 375px) {
      font-size: 11px;
    }
  }
  
  .btn__cancel {
    margin-right: 15px;
    
    &:active {
      color: #FE000C;
      background-color: #FFECEC;
    }
    
    @media (max-width: $lg) {
      margin-right: 15px;
      padding: 6px 10px;
    }
  }
  
  .btn__save {
    @media (max-width: $lg) {
      padding: 6px 10px 6px 24px;
      
      &::before {
        left: 1px;
      }
    }
  }
}