.m1c {
  overflow: hidden;
  
  @media (max-width: $sm) {
    overflow: visible;
  }
  
  &__header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0 0;
    margin-bottom: 5px;
    grid-template-areas: 
      "title btn"
      "code date"
    ;
    
    @media (max-width: $lg) {
      grid-template-areas: 
        "title title"
        "code date"
        "btn btn"
      ;
      gap: 14px 0;
    }
  }
  
  &__title {
    max-width: 518px;
    font-weight: 600;
    font-size: 27px;
    line-height: 35px;
    color: $text-primary;
    margin-bottom: 11px;
    grid-area: title;
    
    @media (max-width: $xl) {
      font-size: 24px;
    }
    
    @media (max-width: $md) {
      margin-bottom: 0;
      max-width: 100%;
      font-size: 20px;
      line-height: 24px;
    }
  }
  
  &__btn-wrapper {
    display: flex;
    align-items: flex-start;
    justify-self: end;
    grid-area: btn;
    
    @media (max-width: 375px) {
      justify-self: auto;
      justify-content: space-between;
    }
  }
  
  &__code {
    font-size: 15px;
    color: $text-secondary;
    line-height: 22px;
    grid-area: code;
    
    @media (max-width: $sm) {
      font-size: 12px;
    }
  }
  
  &__update-date {
    font-size: 15px;
    line-height: 22px;
    color: $text-secondary;
    justify-self: end;
    grid-area: date;
    
    @media (max-width: $sm) {
      font-size: 12px;
    }
  }
  
  .btn__cancel {
    margin-right: 15px;
    
    &:active {
      color: #FE000C;
      background-color: #FFECEC;
    }
    
    @media (max-width: $lg) {
      margin-right: 8px;
      padding: 6px 10px;
    }
  }
  
  .btn__save {
    @media (max-width: $lg) {
      padding: 6px 10px 6px 24px;
      
      &::before {
        left: 1px;
      }
    }
  }
}